numpy
pandas
matplotlib
folium
contextily
pyproj
-e "C:\Users\stijn\OneDrive\Stijn\Documenten\Coding\Packages\HandyFunctions"
-e "C:\Users\stijn\OneDrive\Stijn\Documenten\Coding\Packages\GPX"
-e "C:\Users\stijn\OneDrive\Stijn\Documenten\Coding\Packages\FoliumClass"